<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Отзывы</title>
    <link rel="stylesheet" type="text/css" href="/feed.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
    <h2>Отзыв</h2>
    <form> <!-- вызов главной страницы - событие / -->
        <button id="back" type="submit" formaction="/">Вернуться</button>
        {{ feeds }}
    </form>
</div>
</body>
</html>
