<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WB parser</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div>
            <div class="header-wb">
                <a href="/" class="title">
                    <h1 class="title">WB parser</h1>
                </a>
            </div>
            <div class="vse2">
                <form action="/parse_wb">
                    <div>
                        <div class="paramethers">
                            <div>
                                <div class="border rounded what-parse">
                                    <label>Что парсить?</label>
                                    <select class="what-parse1" name="brand" id="brand">
                                        <option value="19467">Xiaomi</option>
                                        <option value="5772">Samsung</option>
                                        <option value="6049">Apple</option>
                                        <option value="23233">TECNO</option>
                                        <option value="132943">POCO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="border rounded check-border">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sort" id="flexRadioDefault1"
                                        value="priceup">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        По цене
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sort" id="flexRadioDefault2"
                                        value="popular" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        По популярности
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sort" id="flexRadioDefault3"
                                        value="rate">
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        По рейтингу
                                    </label>
                                </div>
                            </div>
                            <div class="border rounded check-border">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="json_sort" value="asc"
                                        id="flexRadioDefaultt1">
                                    <label class="form-check-label" for="flexRadioDefaultt1">
                                        Сверху-вниз
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="json_sort" value="desc" id="flexRadioDefaultt2">
                                    <label class="form-check-label" for="flexRadioDefaultt2">
                                        Снизу-вверх
                                    </label>
                                </div>
                            </div>
                            <div>
                                <div class="border rounded what-parse">
                                    <label>Сколько страниц?</label>
                                    <select class="what-parse1" name="page" id="page">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="submit" class="btn btn-success" id="button-parse">Спарсить</button>
                        
                </form>
            </div>
            <label>{{ time }} секунд</label>
        </div>
        <div class="vse">
            <div>
                <form method="get">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label" id="text-box-title">Данные с сайта</label>
                        <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="10">{{ products }}</textarea>
                    </div>
                    <div class="buttons">
                        {{!-- <button class="btn btn-primary download1_button">Скачать json-файл</button> --}}
                    </div>
                </form>
                                {{!-- <a><button type="submit" class="btn btn-primary download1_button" value={{products}}>Скачать json-файл</button></a> --}}
            </div>
        </div>
                            <a onclick="getText()"><button class="btn btn-primary download1_button">Скачать json-файл</button></a>

    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="./script.js"></script>
</body>

</html>