.header-wb {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column-reverse;
}

.vse {
    display: flex;
    justify-items: center;
    align-items: center;
}

#exampleFormControlTextarea1 {
    resize: both;
    width: 420px;
    height: 480px;
}

#text-box-title {
    display: flex;
    justify-content: center;
}

#button-parse {
    margin-bottom: 10px;
    width: 210px;
}

#button-what-parse {
    margin-bottom: 10px;
}

.vse2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
}

.paramethers {
    margin-right: 10px;
}

.what-parse {
    padding: 10px;
    margin-bottom: 10px;
}

.check-border {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.download1_button {
    width: 420px;
}

.title {
    color: black; 
    text-decoration: none;
    text-decoration-line: none; 
    font-size: 48px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}